extends layout

block content
  h1= title
  input(id="inputData" style="display: none;" type='text' value=dData)
  div(class='row')
    div(class="col-md-6") 
      table(class='table')
        thead
          tr
            th Beban
            th Arus
            th Tegangan
          tr
            td R
            td #{dData.r_arus}
            td #{dData.r_tegangan}
          tr
            td S
            td #{dData.s_arus}
            td #{dData.s_tegangan}
          tr
            td T
            td #{dData.t_arus}
            td #{dData.t_tegangan}
    
  p Notes : 
  div(class='form-input form-inline')
    input(type='text' id='notes-input' class='form-control col-md-3' disabled value=notes.notes)
    //- input(type='button' class='btn btn-info' value='Submit' onclick='submitUpdate()')

  //- script(src="/javascripts/bundle.js")
  script(src="/javascripts/main.js")